<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  
  


</head>

<body>
 <div class="login">
	<h1>Cairo University</h1>
	<h2>Predict Heat Content</h2>


     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="C" placeholder="enter your carbon %" required="required" />
    	<input type="text" name="H" placeholder="enter your hydrogen %" required="required" />
    	<input type="text" name="A" placeholder="enter you ash %" required="required" />
      
 <label for="feedstock">Choose feedstock type:</label>
 <br><br>
 
  <select name="feedstock" id="feedstock">
    <option value="3">marinebiomass(algae)</option>
    <option value="4">RDF&MSW</option>
    <option value="5">biochar</option>
    <option value="6">grass/plant</option>
    <option value="7">husk/shell/pit</option>
    <option value="8">manure</option>
    <option value="9">non organic residue/product</option>
    <option value="10">organic residue</option>
    <option value="11">others</option>
    <option value="12">sludge</option>
    <option value="13">straw</option>
    <option value="14">torrefied material</option>

    
  </select>
  <br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}




 </div>


 
 


</body>
</html>